div.ui.secondary.menu {
  background-color: rgba(255, 255, 255, 1);
  margin: 0;
  font-family: "Century Gothic", sans-serif;
  height: 50px;
  border-bottom: 1px solid;
  border-color: #e94d95;
}

div.ui.secondary.menu a {
  color: #e94d95;
  text-transform: uppercase;
  font-weight: 700;
}
.ui.secondary.menu .active.item {
  color: #38a0bc !important;
  font-weight: 700;
}

.ui.secondary.menu a:hover {
  color: #38a0bc !important;
}

.MenuLinks {
  margin: auto;
}

.MenuLogo {
  margin: auto;
  margin-left: 208px;
}

.MenuLogo img {
  width: 140px;
  margin-top: 5px;
}

div.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 6;
}

.App {
  text-align: center;
  font-family: "Century Gothic", sans-serif;
}

p {
  font-family: "Alda ot cev", "Times New Roman", serif;
  font-size: 1.1rem;
}

.CardHeader {
  color: rgb(228, 94, 63);
  font-weight: bold;
  margin: 0.8em;
  font-size: 1.4em;
}

.CardDescription {
  font-family: "Alda ot cev", serif !important;
  margin-bottom: 2.5em !important;
  color: #111;
  font-size: 1.2em;
}

.HomeCardsBox,
.HomeArticleBox {
  padding: 60px;
  display: inline-flex;
  justify-content: space-around;
}

.HomeStepsBox {
  display: inline-flex;
  justify-content: space-around;
}

.HomeBackground {
  background-color: white;
}

.HomeText {
  margin-left: 100px !important;
}

.FossilArticleBox {
  padding: 30px;
  justify-content: space-around;
}

.FossilArticleBox h2 {
  font-size: 1.6em;
}

.FossilArticleBox h3 {
  font-family: "Century Gothic", sans-serif;
  font-size: 1.5em;
  color: #e94d95;
  padding-top: 35px;
}

.FossilArticleBox p {
  font-size: 1.3em !important;
}

.ColumnStyle {
  padding-left: 0px !important;
}

.FossilDataBox {
  background-color: white;
  padding: 0px 60px 0px 60px;
  display: inline-flex;
  justify-content: space-around;
}

.SliderText {
  font-family: "Century Gothic", sans-serif;
  font-weight: bold;
  font-size: 1em;
  padding-bottom: 1.5em;
}

.TipHeader {
  color: #e94d95;
  padding-top: 30px;
  padding-bottom: 10px;
}

.TipsPic {
  width: 170px;
  margin-left: 90px;
  margin-top: 30px;
  background-color: #fcd2c9;
  padding: 20px;
}

.ui.segment {
  margin-bottom: 0rem !important;
}

.FooterStyle {
  background-color: #ffffff;
  border-top: 1px solid;
  border-color: #e94d95;
  color: #e94d95;
}

.ui.accordion .title {
  font-size: 1.3em !important;
  font-family: "Century Gothic", sans-serif;
}

.ui.grid p {
  font-size: 1.3em;
}

.ui.grid p a:hover {
  color: #e94d95 !important;
  text-decoration: underline !important;
}

.StepsBox {
  margin-bottom: 100px;
  margin-top: 40px;
}

.StepsHeader {
  color: rgb(228, 94, 63);
  font-weight: bold;
  font-size: 1.4em;
  font-family: "Century Gothic", sans-serif;
}

.TipsBox {
  padding: 60px;
  justify-content: space-around;
}

.TipsBox h2 {
  font-size: 1.6em;
}

.TipsBox h3 {
  font-family: "Century Gothic", sans-serif;
  font-size: 1.5em;
  color: #e94d95;
}

.ui.basic.label {
  color: #e94d95 !important;
  font-size: 1.2em !important;
}

.ui.labeled.button > .button {
  margin-left: 20px !important;
}

.PopUpText p {
  font-size: 1.2em;
}
