.App {
  text-align: center;
  font-family: 'Century Gothic', sans-serif;
}

p {
  font-family: 'Alda ot cev', 'Times New Roman', serif;
  font-size: 1.1rem;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 5vh;
  background: rgba(250, 211, 202, 0.43);
  color: rgb(228, 94, 63);
}

.nav-links {
  width: 30%;
  font-size: 1em;
  display: inline-flex;
  justify-content: space-around;
  align-items: right;
  list-style: none;
  margin-left: 50%;
  padding-top: 1em;
}

.link-style {
  color: rgb(228, 94, 63);
  text-decoration: none;
  font-weight: bold;
  text-decoration: none;
}

.logo-style {
  width: 7em;
}

.link-style:hover {
 color:#54b2cc;
}

.hejhopp {
padding: 10em;
}

.changeColor {
  color: rgb(228, 94, 63);
  font-weight: bold;
  font-size: 1.25em;
  margin: 0.8em;
  }

.description {      
  font-family: 'Alda ot cev', serif; 
  margin-bottom: 2.5em;
  }

  .HomeCardsBox, .HomeArticleBox {
    padding: 60px;
    display: inline-flex;
    justify-content: space-around;
  }

  .HomeStepsBox {
    display: inline-flex;
    justify-content: space-around;
  }

  .StepsHeader {
    color: rgb(228, 94, 63);
    font-weight: bold;
  }

 .HomeBackground {
   background-color: white;
 }

 .FossilArticleBox {
  padding: 60px;
  justify-content: space-around;
 }

 .fossilHeader {
  color: #E94D95;
  padding-top: 30px;
  padding-bottom: 30px;
 }

 .FossilDataBox {
   background-color: white;
   padding: 0px 60px 60px 60px;
   display: inline-flex;
   justify-content: space-around;
 }

 .tipHeader {
  color: #E94D95;
  padding-top: 30px;
  padding-bottom: 10px;
 }

 .pop-button {
   font-family: 'Century Gothic', sans-serif;
   font-weight: bold;
   font-size: 1em;
   color: #111;
   cursor: pointer;
   padding: 5px 10px;
   margin: 10px 15px;
   line-height: 1.7em;
   text-transform: uppercase;
   letter-spacing: 2px;
   border: 3px solid #cfcece;
   background-color: #fff;
   border-radius: 15px;
   position: relative;
 }

 .pop-button:hover {
  border-color:#E45E3F;
  text-decoration: none;
}

